<section class="section-welcome ">

    <img class="section-welcome__bg" src="./img/welcome/keybord.png" alt="keybord">
        
        


    


    <div class="section-welcome__background-after container">

        <div class="section-welcome__background">
            <div class="section-welcome__text">
                <div class="section-welcome__title">
                    Hello!
                </div>
    
                <div class="section-welcome__desc">
                    And Welcome
                </div>
            </div>

            <div class="section-welcome__middle">
                <div class="section-welcome__img">
                    <img src="./img/welcome/magnit.png" alt="magnit">
                </div>
                
                <div>
                    <a href="/" class="section-welcome__btn">
                        Get Started
                    </a>
                </div>
                





                
    
            </div>
    
    
            
            </div>
    
            
    
    
            

            <div class="section-welcome__point-main">
                <!-- 1 -->
                <div class="section-welcome__point">
                    
                                <div class="section-welocome__figires">
                                    01
                                </div>
                    
                                <div class="section-welcome__desc-block">
                    
                                   <div class="section-welocome__figires-title">
                                    Who we are?
                                   </div> 
                    
                                   <div class="section-selcome__figires-desc">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus imperdiet sed id elementum. Quam vel aliquam sit vulputate.
                                   </div>
                    
                    
                                </div>
                    
                    
                </div>

                <!-- 2 -->


                <div class="section-welcome__point">
                    
                    <div class="section-welocome__figires">
                        02
                    </div>
        
                    <div class="section-welcome__desc-block">
        
                       <div class="section-welocome__figires-title">
                        What we can suppose?
                       </div> 
        
                       <div class="section-selcome__figires-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus imperdiet sed id elementum. Quam vel aliquam sit vulputate.
                       </div>

                    </div>
        
        
                    
                </div>
                <!-- 3 -->


                <div class="section-welcome__point">
                    
                    <div class="section-welocome__figires">
                        03
                    </div>
        
                    <div class="section-welcome__desc-block">
        
                       <div class="section-welocome__figires-title">
                        Let's start
                       </div> 
        
                       <div class="section-selcome__figires-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus imperdiet sed id elementum. Quam vel aliquam sit vulputate.
                       </div>
        
        
                    </div>
        
        
                </div>
        
               
        
    </div>
            
            
            
        
        

        

       



        





       
    </div>

    

    
</section>