.section-welcome {
    height: 750px;
    position: relative;
    background: linear-gradient(90deg, rgba(77, 170, 210, 0.80) 89.9%, rgba(106, 179, 211, 0.80) 99.99%);
    &__background-after {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    }

    &__bg{
        position: absolute;
        z-index: -1;
       height: 100%;
        object-fit: cover;
        height: 100%;
        top: 0;
        width: 100%;
    }

    &__background {
    }

    &__text {
        margin-top: 72px;
    }

    &__title {
        color: #1D1E23;
font-family: var(--ff);
font-size: 68px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.88px;
    }

    &__desc {
        color: #1D1E23;
font-family: var(--ff);
font-size: 58px;
font-style: italic;
font-weight: 700;
line-height: normal;
letter-spacing: 1.28px;
    }

    &__middle {
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__img {
        
    }

    &__btn {
        
background: #06040A;
padding: 10px;
border-radius: 15px;
       

        color: #FFF;
font-family:var(--ff) ;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 18px; 
    }

    &__point-main {
        margin-top: 84px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
        margin-left: 190px;
    }

    &__point {
        display:flex ;
        gap: 20px;
    }

    &__desc-block {
    }
}
.container {
}
.section-welocome {

    &__figires {
        padding-top: 25px;
        color: #222327;
font-family:var(--ff);
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
    }

    &__figires-title {
        color: #222327;
font-family: var(--ff);
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
    }
}
.section-selcome {

    &__figires-desc {
        color: #222327;
font-family: var(--ff);
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;

max-width: 383px;
    }


    
}

